@import 'ember-paper';
@import 'ember-bootstrap/bootstrap';
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

body, html {
  background:#272624;
}
.app-container {
    height:100vh;
    background:#272624;
    color:#fff;
}

h1 {
  margin-top: 0;
  padding-top: 5px;
}

.circle-container {
  // border: 1px solid black;
  width: 60vh;
  padding: 0;
  margin: auto;
}

.center-row, .bottom-row {
  // border: 2px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
    border-radius: 50%;
    min-width: 110px;
    min-height: 110px;
    margin: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.middle-row {
  // border: 2px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-item {
    // background-color: tomato;
    width: 80px;
    height: 40px;
    padding: 5px;
    margin: 15px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.level-text {
  font-size: 2.8em;
  font-weight: bold;

}

.x-toggle-btn {
  display: relative;
  left: -66%;
  top: 10%;
  font-size: 1.2em;
  // border: 2px solid black;
}

.button-text {
  font-weight: bold;
}

#blue {
  background-color: #272624;
  border: 0.4em solid #3498db;
  cursor: pointer;
}

#red {
  background-color: #272624;
  border: 0.4em solid #c0392b;
  cursor: pointer;
}

#green {
  background-color: #272624;
  border: 0.4em solid #27ae60;
  cursor: pointer;
}

#yellow {
  background-color: #272624;
  border: 0.4em solid #f1c40f;
  cursor: pointer;
}

.pulse {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.x-toggle-flip.x-toggle-btn:before {
  background: #7FC6A6;
}

.x-toggle:checked + label > .x-toggle-flip.x-toggle-btn:after {
  background: #FF3A19;
}
