{{ember-load-remover}}
<div class="app-container">
  <h1 class="text-center">Simon Game</h1>

  <div class="circle-container">
    <div class="center-row">
      <div class="flex-item">
        1
      </div>
    </div>

    <div class="middle-row">
      <div class="flex-item">
        2
      </div>
      <div class="flex-item">
        3
      </div>
    </div>

    <div class="bottom-row">
      <div class="flex-item">
        4
      </div>
    </div>

    <div class="bottom-row">
      <div class="setting-item">
        Switch
      </div>
      <div class="setting-item">
        Start
      </div>
      <div class="setting-item">
        Reset
      </div>
    </div>


  </div>

</div>
