{{ember-load-remover}}
<div class="app-container">
  <h1 class="text-center">Simon Game</h1>

  <div class="circle-container">
    <div class="center-row">
      <div id="blue" class="flex-item">

      </div>
    </div>

    <div class="middle-row">
      <div id="red" class="flex-item">

      </div>
      <span class="level-text"> {{level}} </span>
      <div id="yellow" class="flex-item">

      </div>
    </div>

    <div class="bottom-row">
      <div id="green" class="flex-item">

      </div>
    </div>

    <div class="bottom-row">
      <div class="setting-item">
        Switch
      </div>
      <div class="setting-item">
        Start
      </div>
      <div class="setting-item">
        Reset
      </div>
    </div>


  </div>

</div>
